/* Custom ScrollBar */
.stage::-webkit-scrollbar {
    width: 10px;
    height: 25px;
}

/* Track */
.stage::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.stage::-webkit-scrollbar-thumb {
    background: gray;
}

/* Handle on hover */
.stage::-webkit-scrollbar-thumb:hover {
    background: gray;
}